.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

@media (max-width: 900px) {
  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects__grid {
    grid-template-columns: 1fr;
  }
}
