{{/* pick first external site link if present */}}
{{ $external := "" }}
{{ with .Params.links }}
  {{ range . }}
    {{ if eq .type "site" }}
      {{ $external = .url | safeURL }}
      {{ break }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $href := cond (ne $external "") $external .RelPermalink }}

<a href="{{ $href }}" {{ if (or (hasPrefix $href "http://") (hasPrefix $href "https://")) }} target="_blank" rel="noopener"{{ end }}>
  <!-- title / image / read-more content -->
  <span>Read more</span>
</a>